<template>
  <Button class="save-btn"
          :disabled="!totalTableChangedRows"
          :throbber="throbber"
          v-on:clicked="save">
    <slot>Save changes</slot>
  </Button>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { namespace } from 'vuex-class';

import { storeName } from '@/store/modules/dashboard';
import { Throbber } from '@/libs/throbber';


const dashboard = namespace(storeName);

@Component
export default class SaveButton extends Vue {

  @dashboard.Getter totalTableChangedRows: number;
  @dashboard.Action saveTableRows;

  throbber = new Throbber();

  @Throbber.on({ delay: 300 })
  save() {
    return this.saveTableRows();
  }

}
</script>

<style scoped lang="scss">

</style>
