<template>
  <Table :columns="columns"
         :rows="filteredTableRows"
         :order="order"
         v-on:order-changed="$emit('order-changed', $event)"
         v-on:row-changed="setChangedTableRow">

    <Throbber v-if="throbber.status"></Throbber>

  </Table>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import { namespace } from 'vuex-class';

import { TableOrder, TableColumn } from '@/libs/table';
import { Throbber } from '@/libs/throbber';
import { storeName } from '@/store/modules/dashboard';
import { TableRowModel } from '@/store/modules/dashboard/models/table-row.model';


const dashboard = namespace(storeName);

@Component
export default class DashboardTable extends Vue {
  @Prop() private columns!: TableColumn[];
  @Prop() private order?: TableOrder;
  @Prop() private id?: string;

  @dashboard.Action getTableRows;
  @dashboard.Getter filteredTableRows: TableRowModel[];
  @dashboard.Mutation setChangedTableRow;

  throbber = new Throbber();

  @Throbber.on()
  mounted() {
    return this.getTableRows(this.id);
  }
}
</script>

<style scoped lang="scss">

  /deep/ .throbber {
    position: absolute;
    top: 55px;
    right: 50%;
    transform: translateX(50%);
  }

</style>
