<template>
  <div class="total-output form-group">
    <div class="form-control d-flex flex-row justify-content-around">
      <div id="total-output-label" class="w-25">{{ label }}</div>
      <div id="total-output-total" class="w-75">{{ total }}</div>
  </div>
</div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';


@Component
export default class SearchInput extends Vue {
  @Prop({ default: 'Total:' }) private label: string;
  @Prop() private total: number;
}
</script>

<style scoped lang="scss">

</style>
