<template>
  <div class="dashboard">

    <div class="d-sm-flex flex-row justify-content-around">
      <SearchInput class="w-75 w-sm-100 mr-2"
                   placeholder="live search"
                   v-on:changed="setFilterString">
      </SearchInput>
      <TotalOutput class="w-25 w-sm-100"
                   :total="totalCurrency">
      </TotalOutput>
    </div>

    <DashboardTable :columns="columns"
                    :order="tableOrder"
                    v-on:order-changed="setTableOrder">
    </DashboardTable>

    <div class="dashboard__buttons">
      <SaveButton>{{ saveButtonLabel }}</SaveButton>
    </div>

  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { namespace } from 'vuex-class';

import { storeName } from '@/store/modules/dashboard';
import { TableColumn, TableOrder } from '@/libs/table';
import SearchInput from '@/components/search-input/SearchInput.vue';
import TotalOutput from '@/components/total-output/TotalOutput.vue';


const dashboard = namespace(storeName);

@Component({
  components: {
    SearchInput,
    TotalOutput,
  },
})
export default class Dashboard extends Vue {

  @dashboard.State(state => state.tableOrder) tableOrder: TableOrder;

  @dashboard.Getter totalCurrency: number;
  @dashboard.Getter totalTableChangedRows: number;

  @dashboard.Mutation setTableOrder;
  @dashboard.Mutation setFilterString;
  @dashboard.Mutation updateTable;

  columns: TableColumn[] = [
    { key: 'link', label: null, sortable: false, type: 'link', pattern: 'details/id' },
    { key: 'id', sortable: false },
    { key: 'name', editable: true },
    { key: 'location', editable: true },
    { key: 'currency', type: 'number', editable: true },
  ];

  get saveButtonLabel() {
    return `Save ${this.totalTableChangedRows ? this.totalTableChangedRows : ''} changed rows`;
  }

  mounted(): void {
    // TODO probably move to smth like module/reactions.ts or into mutations.ts
    this.$store.subscribe((mutation) => {
      switch (mutation.type) {
        case `${module}/setTableOrder`:
        case `${module}/setFilterString`:
          this.updateTable();
      }
    });
  }

}
</script>

<style scoped lang="scss">
  .dashboard {

    &__buttons {
      text-align: right;

      /deep/ .save-btn {
        margin: 1rem;
      }
    }
  }
</style>
