<template>
  <div class="details">

    <div class="details__buttons">
      <Button :throbber=throbber
              :disabled="!totalTableRows"
              v-on:clicked="remove">
        Delete
      </Button>

      <SaveButton></SaveButton>
    </div>

    <DashboardTable :columns="columns"
                    :id="rowId">
    </DashboardTable>

  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { namespace } from 'vuex-class';

import { TableColumn } from '@/libs/table';
import { Throbber } from '@/libs/throbber';
import { storeName } from '@/store/modules/dashboard';


const dashboard = namespace(storeName);

@Component
export default class Details extends Vue {

  @dashboard.Action removeTableRow;
  @dashboard.Getter totalTableRows;

  columns: TableColumn[] = [
    { key: 'id', sortable: false },
    { key: 'name', sortable: false, editable: true },
    { key: 'location', sortable: false, editable: true },
    { key: 'currency', type: 'number', sortable: false, editable: true },
  ];

  throbber = new Throbber();

  get rowId() {
    return this.$route.params.id;
  }

  @Throbber.on()
  remove() {
    return this.removeTableRow(this.rowId);
  }
}
</script>

<style scoped lang="scss">
  .details {
    &__buttons {
      margin-bottom: 1rem;
      text-align: right;

      .btn {
        margin-left: 3rem;
      }
    }
  }
</style>
