<template>
  <div id="app" class="container-fluid">
    <div id="nav">
      <router-link to="/">Dashboard</router-link>
    </div>
    <router-view/>
  </div>
</template>

<style lang="scss">
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  padding: 0 50px 0 50px;

  @media (max-width: 767px) {
    padding: 0 15px 0 15px;

    .w-sm-100 {
      width: 100%!important;
    }
  }
}
#nav {
  padding: 30px;
  a {
    font-weight: bold;
    color: #2c3e50;
    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
