<template>
  <div :contenteditable="cell.editable"
       @input="cellChanged($event)">
    {{ cell.value }}
  </div>
</template>

<script lang="ts">
import { Vue, Prop } from 'vue-property-decorator';

import { CellModel } from '../../models';


export default class Cell extends Vue {

  @Prop() cell: CellModel;

  cellChanged(event) {
    if (this.isValueValid(event)) {
      this.$emit('cell-changed', this.cell.value);
    }
  }

  private isValueValid(event): boolean {
    if (!this.cell.isValid(event.data)) {
      const position = event.target.innerText.indexOf(event.data.trim());
      event.target.innerText = this.cell.value;
      if (position) {
        this.setCaret(event.target, position);
      }
      return false;
    }
    this.cell.setValue(event.target.innerText.trim());
    return true;
  }

  private setCaret(el, position) {
    const range = document.createRange();
    const selection = window.getSelection();
    if (selection) {
      range.setStart(el.childNodes[0], position);
      range.collapse(true);
      selection.removeAllRanges();
      selection.addRange(range);
      el.focus();
    }
  }
}

</script>

<style scoped lang="scss"></style>
