<template>
  <router-link :to="cell.value">
    <img src="@/assets/glyphicons-link.png"
         alt=""
         width="25px"
         height="25px">
  </router-link>
</template>

<script lang="ts">
import { Component } from 'vue-property-decorator';

import Cell from './Cell.vue';


@Component
export default class LinkCell extends Cell {}
</script>
