<template functional>
  <div class="not-found">
    Page not found
  </div>
</template>

<style scoped lang="scss">
  .not-found {
    text-align: center;
    margin-top: 100px;
    font-size: 26px;
    font-weight: bold;
  }
</style>
