<template functional>
  <div class="throbber">
    <div class="throbber-dual-ring"></div>
  </div>
</template>

<style scoped lang="scss">
  .throbber {
    &-dual-ring {
      display: inline-block;
      width: 36px;
      height: 36px;

      &:after {
        content: " ";
        display: block;
        width: 35px;
        height: 35px;
        margin: 1px;
        border-radius: 50%;
        border: 5px solid;
        border-color: #fff transparent #fff transparent;
        animation: dual-ring 1.2s linear infinite;
      }
    }

    @keyframes dual-ring {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
</style>
