<template>
  <tr>
    <td class="table-input"
        v-for="(cell, index) in getCells()"
        :key="index">

      <component v-bind:is="cell.component"
                 :cell="cell"
                 v-on:cell-changed="cellChanged($event, cell)">
      </component>

    </td>
  </tr>
</template>

<script lang="ts">
import { Component, Prop, Vue, Emit } from 'vue-property-decorator';

import StringCell from './cells/StringCell.vue';
import LinkCell from './cells/LinkCell.vue';
import NumberCell from './cells/NumberCell.vue';
import { TableColumn, TableRow } from '../types';
import { createCell } from '../create-cell';


@Component({
  components: {
    StringCell,
    NumberCell,
    LinkCell,
  },
})
export default class TableBodyRow extends Vue {

  @Prop() columns: TableColumn[];
  @Prop() row: TableRow;

  getCells() {
    return this.columns.map(column => createCell(this.row, column));
  }

  cellChanged(value, cell) {
    this.rowChanged(cell.key, value);
  }

  @Emit()
  rowChanged(cellKey, value): TableRow {
    return { ...this.row, [cellKey]: value };
  }

}
</script>

<style scoped lang="scss">

  .table-input {

    &:focus {
      border-color: #ced4da;
      box-shadow: none;
      outline: none;
    }
  }

</style>
