<template>
  <th scope="col"
      :class="rowKey">

    <div class="th-cell"
         v-if="sortable"
         @click="orderChanged">
      {{ columnLabel }}
      <span class="th-cell__sort">
        {{ orderName }}
      </span>
    </div>

    <div v-else>
      {{ columnLabel }}
    </div>

  </th>
</template>

<script lang="ts">
import { Component, Prop, Vue, Emit } from 'vue-property-decorator';
import { startCase, isNull } from 'lodash';

import { TableOrder } from '../types';


@Component
export default class TableHeadColumn extends Vue {

  @Prop() rowKey!: string;
  @Prop({ default: true }) sortable?: string;
  @Prop() label?: string | null;
  @Prop() order!: TableOrder;

  @Emit()
  orderChanged() {
    return this.rowKey;
  }

  get orderName() {
    return this.order.name === this.rowKey ? this.order.order : '';
  }

  get columnLabel() {
    if (isNull(this.label)) {
      return '';
    }
    return this.label || startCase(this.rowKey);
  }
}
</script>

<style scoped lang="scss">

  .link {
    width: 10%;
  }

  .th-cell {
    cursor: pointer;

    &__sort {
      font-size: 11px;
    }
  }

</style>
