<template>
  <div class="table-responsive dynamic-table-container">
    <slot></slot>
    <table class="dynamic-table table table-striped table-dark table-hover">
      <thead>
        <tr>
          <TableHeadColumn v-for="column in columns"
                           :key="column.key"
                           :rowKey="column.key"
                           :sortable="column.sortable"
                           :order="order"
                           :label="column.label"
                           v-on:order-changed="orderChanged">
          </TableHeadColumn>
        </tr>
      </thead>
      <tbody :class="!rows.length ? 'tbody-block' : ''">
        <TableBodyRow v-for="row in rows"
                      :key="row.id"
                      :columns="columns"
                      :row="row"
                      v-on:row-changed="$emit('row-changed', $event)">
        </TableBodyRow>
      </tbody>
    </table>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue, Emit } from 'vue-property-decorator';

import { TableOrder, TableRow, TableColumn, Asc, Desc } from '../types';
import TableHeadColumn from './TableHeadColumn.vue';
import TableBodyRow from './TableBodyRow.vue';


const asc: Asc = 'asc';
const desc: Desc = 'desc';
const defaultOrder: Asc | Desc = asc;

@Component({
  components: {
    TableHeadColumn,
    TableBodyRow,
  },
})
export default class Table extends Vue {
  @Prop() private columns!: TableColumn[];
  @Prop() private rows!: TableRow[];
  @Prop() private order!: TableOrder;

  @Emit()
  orderChanged(orderName: string) {
    const newOrder: TableOrder = { ...this.order };

    newOrder.name = orderName;

    if (this.order.name === orderName) {
      newOrder.order = newOrder.order === asc ? desc : asc;
    } else {
      newOrder.order = defaultOrder;
    }

    return newOrder;
  }

}
</script>

<style scoped lang="scss">
  .dynamic-table-container {
    position: relative;
    height: 75vh;

    .dynamic-table {
      table-layout: fixed;
      width: 100%;

      .tbody-block {
        min-height: 50px;
        display: block;
      }
    }
  }
</style>
