<template>
  <div class="search-input">
    <label class="form-group">
      <input class="form-control"
             type="text"
             :placeholder="placeholder"
             v-on:input="inputChange">
    </label>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';


@Component
export default class SearchInput extends Vue {
  @Prop({ default: '' }) private placeholder;
  @Prop({ default: 350 }) private debounce: number;

  private timer: number | null;

  inputChange(event) {
    if (this.timer) {
      window.clearTimeout(this.timer);
    }
    this.timer = window.setTimeout(() => {
      this.$emit('changed', event.target.value.trim());
    }, this.debounce);
  }
}
</script>

<style scoped lang="scss">
  .search-input {
    position: relative;

    .form-group {
      display: block;
    }
  }
</style>
