<template>
  <button class="btn btn-info"
          :disabled="disabled"
          @click="$emit('clicked', $event)">

    <Throbber v-if="throbber ? throbber.status : false"></Throbber>

    <slot></slot>

  </button>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';

import { Throbber } from '@/libs/throbber';


@Component
export default class Button extends Vue {

  @Prop() throbber?: Throbber;
  @Prop({ default: false }) disabled?: boolean;

}
</script>

<style scoped lang="scss">
  .btn {
    position: relative;

    /deep/ .throbber {
      position: absolute;
      top: -1px;
      left: -43px;

      &-dual-ring:after {
        border-color: #fff #00000087 #fff #28282870;
      }
    }
  }


</style>
